docx==0.2.4
Flask==3.1.2
flask_login==0.6.3
flask_mail==0.10.0
flask_migrate==4.1.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
g4f==7.0.0
matplotlib==3.10.8
numpy==2.4.2
openpyxl==3.1.5
pandas==3.0.0
pdfkit==1.0.0
reportlab==4.4.9
Requests==2.32.5
SQLAlchemy==2.0.46
twilio==9.10.0
Werkzeug==3.1.5
WTForms==3.2.1
email-validator>=2.1.1

