
.container {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 5% 3%;
  padding: 30px;
  position: relative;
  width: 100%;
}
.container .input-field input,
.container .input-field select {
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #333;
  height: 42px;
  margin: 8px 0;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
}
.container .input-field input[type="date"] {
  color: #707070;
}
.container .input-field input[type="date"]:valid {
  color: #333;
}
.container .input-field input:focus,
.container .input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.container .input-field label {
  color: #2e2e2e;
  font-size: 12px;
  font-weight: 500;
}
.container .input-field select {
  color: #707070;
}
.container form {
  background-color: #fff;
  min-height: 530px;
  margin-top: 16px;
  overflow: visible;
  padding-bottom: 50px;
  position: relative;
}
.container form .backBtn,
.container form button {
  background-color: #4070f4;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin: 25px 0;
  max-width: 200px;
  outline: none;
  transition: all 0.3s linear;
  width: 100%;
}
.container form .backBtn i,
.container form button i {
  margin: 0 6px;
}
.container form .backBtn i {
  transform: rotate(180deg);
}
.container form .btnText {
  font-size: 14px;
  font-weight: 400;
}
.container form .buttons {
  display: flex;
  align-items: center;
}
.container form .buttons .backBtn,
.container form .buttons button {
  margin-right: 14px;
}
.container form button:hover {
  background-color: #265df2;
}
.container form .fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container form .fields .input-field {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  width: calc(100% / 3 - 15px);
}
.container form .form {
  background-color: #fff;
  position: absolute;
  transition: 0.3s ease;
}
.container form .form.second {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
.container form .title {
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  margin-bottom: 8px;
}
.container form.secActive .form.first {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.container form.secActive .form.second {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
.container header {
  color: #343a40;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.container header::before {
  border-radius: 8px;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 27px;
}


/* Responsive */
@media (max-width: 750px) {
  .container form {
    overflow-y: scroll;
  }
  .container form::-webkit-scrollbar {
    display: none;
  }
  .container form .fields .input-field {
    width: calc(100% / 1 - 15px);
  }
}

@media (max-width: 550px) {
  /* Forms: One input per row */
  .container form .fields .input-field {
    width: 100%; /* Make each input field take full width */
  }
  .department-container form .fields .input-field {
    width: 100%; /* Make each input field take full width */
  }

  /* Existing rules for table */
  .container form {
    overflow-y: scroll;
  }
  .container form::-webkit-scrollbar {
    display: none;
  }
  .container form .fields .input-field {
    width: 100%;
  }
}

@media (min-width: $bp-bart) {
  .container {
    margin: 2%;
  }
}

@media (min-width: $bp-homer) {
  .container {
    margin: 2em auto;
    max-width: $bp-homer;
  }
}



.department-container {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  margin-top: 20px;
  padding: 30px;
  position: relative;
  width: 50%;
}
.department-container .input-field input,
.department-container .input-field select {
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #333;
  height: 42px;
  margin: 8px 0;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
}
.department-container .input-field input[type="date"] {
  color: #707070;
}
.department-container .input-field input[type="date"]:valid {
  color: #333;
}
.department-container .input-field input:focus,
.department-container .input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.department-container .input-field label {
  color: #2e2e2e;
  font-size: 12px;
  font-weight: 500;
}
.department-container .input-field select {
  color: #707070;
}
.department-container form {
  background-color: #fff;
  min-height: 300px;
  margin-top: 16px;
  overflow: visible;
  padding: 20px;
  padding-bottom: 50px;
  position: relative;
}
.department-container form .backBtn,
.department-container form button {
  background-color: #4070f4;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin: 25px 0;
  max-width: 200px;
  outline: none;
  transition: all 0.3s linear;
  width: 100%;
}
.department-container form .backBtn i,
.department-container form button i {
  margin: 0 6px;
}
.department-container form .backBtn i {
  transform: rotate(180deg);
}
.department-container form .btnText {
  font-size: 14px;
  font-weight: 400;
}
.department-container form .buttons {
  display: flex;
  align-items: center;
}
.department-container form .buttons .backBtn,
.department-container form .buttons button {
  margin-right: 14px;
}
.department-container form button:hover {
  background-color: #265df2;
}
.department-container form .fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.department-container form .fields .input-field {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  width: calc(100% / 1 - 15px);
}
.department-container form .form {
  background-color: #fff;
  position: absolute;
  transition: 0.3s ease;
}
.department-container form .form.second {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
.department-container form .title {
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  margin-bottom: 8px;
}
.department-container form.secActive .form.first {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.department-container form.secActive .form.second {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
.department-container header {
  color: #343a40;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.department-container header::before {
  border-radius: 8px;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 27px;
}



.payroll-container {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  margin-top: 20px;
  padding: 30px;
  position: relative;
  width: 50%;
}

.payroll-container .input-field input,
.payroll-container .input-field select {
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #333;
  height: 42px;
  margin: 8px 0;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
}

.payroll-container .input-field input[type="date"] {
  color: #707070;
}
.payroll-container .input-field input[type="date"]:valid {
  color: #333;
}
.payroll-container .input-field input:focus,
.payroll-container .input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.payroll-container .input-field label {
  color: #2e2e2e;
  font-size: 12px;
  font-weight: 500;
}

.payroll-container .input-field select {
  color: #707070;
}

.payroll-container form {
  background-color: #fff;
  min-height: 300px;
  margin-top: 16px;
  overflow: visible;
  padding: 20px;
  padding-bottom: 50px;
  position: relative;
}

.payroll-container form button {
  background-color: #4070f4;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin: 25px 0;
  max-width: 200px;
  outline: none;
  transition: all 0.3s linear;
  width: 100%;
}
.payroll-container form button i {
  margin: 0 6px;
}
.payroll-container form .btnText {
  font-size: 14px;
  font-weight: 400;
}
.payroll-container form button:hover {
  background-color: #265df2;
}

.payroll-container form .fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.payroll-container form .fields .input-field {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  width: calc(100% / 1 - 15px);
}

.payroll-container header {
  color: #343a40;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}


.payroll-container header::before {
  border-radius: 8px;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 27px;
  background-color: #4070f4;
}

.payroll-container .input-field input[type="date"] {
  color: #707070;
}


.edit-container {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: 0 15px;
  margin-top: 20px;
  padding: 30px;
  position: relative;
  width: 70%;
  margin-bottom: 20px;
  height: auto;
}

.edit-container .input-field input,
.edit-container .input-field select {
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #333;
  height: 42px;
  margin: 8px 0;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
}

.edit-container .input-field input[type="date"] {
  color: #707070;
}

.edit-container .input-field input[type="date"]:valid {
  color: #333;
}

.edit-container .input-field input:focus,
.edit-container .input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.edit-container .input-field label {
  color: #2e2e2e;
  font-size: 12px;
  font-weight: 500;
}

.edit-container .input-field select {
  color: #707070;
}

/* Two inputs per row */
.edit-container form .fields {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.edit-container form .fields .input-field {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
}

.edit-container a {
  text-decoration: none;
  color: #fff;
}


/* Buttons layout */
.edit-container form > div > div:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Buttons full width on small screens */
@media (max-width: 750px) {
  .edit-container form .fields .input-field {
    width: 100%;
  }
}
</style>